label{
  color: black;
}
#position{
  padding: 0.8rem;
}
.gender{
  display: flex;
  align-self: center;
}
.male,.femal{
  display: flex;
}
.course{
  text-align: center;
  font-family: sans-serif;
  color: rgb(177, 85, 85);
}
.courseholder{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cb1,.cb2,.cb3{
  padding: 0.5rem 1rem;
  display: flex;
  cursor: pointer;
}
