.navbar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #000000cf;
    width: 100%;
}
.navbar-links {
    display: flex;
    width: 250px;
    justify-content: space-around;
}

.navbar-links>li>a{
    text-decoration: none;
    color: #ffff;
}
.logout-button{
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 6px;
    font-weight: 550;
    transition: all ease-in-out 0.5s;
}
.logout-button:hover{
    filter: invert();
}
.navbar-user>span{
    color: #ffffff;
    padding-right: 100px;
}
.companyLogo {
    cursor: pointer;
    left: 15px;
    top: 5px;
    width: 50px;
    filter: drop-shadow(#f37a009a 0px 0px 5px);
  }
  
